:root {
  --rvanblack: #121212;
  --textdark: #333333;
  --textlight: #828282;
  --textemphasis: #ec5757;
}
#root {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.App {
  margin-left: 0pt;
  top: 40;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-ravn {
  height: 50px;
  background-color: var(--rvanblack);
  text-indent: 33px;
}
.navbar-ravn p {
  text-align: left;
  color: white;
  font-size: 14pt;
  padding-top: 1px;
  font-weight: bold;
}

.notification {
  color: var(--textemphasis);
  font-size: 17pt;
  font-weight: bold;
  padding: 16px;
}
.notification > p {
  text-align: center;
}

.Right {
  padding-top: 50px;
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
}
.Left {
  padding-top: 50px;
  padding-bottom: 40px;
  border-right: 1px solid var(--textdark);
  text-align: left;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 960px) {
  .Right {
    min-width: 340px;
    max-width: 380px;
  }
  .Left {
    min-width: 240px;
    max-width: 280px;
  }
}
